{% extends 'base.html.twig' %}

{% block title %}Youtube Subtitle{% endblock %}

{% block body %}
    <p>Vidéo explicative : <a href="https://www.youtube.com/watch?v=SepQQ2vvQxM" target="_blank">https://www.youtube.com/watch?v=SepQQ2vvQxM<a/></p>
    {{form_start(form)}}
    {{form_rest(form)}}
    <button type="submit">Voir les sous-titres</button>
    {{form_end(form)}}

    <p id="text">{{text}}</p>
{% endblock %}
